<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./vue.min.js"></script>
  <title>Document</title>
</head>

<body>
  <div id="app">
    <ul>
      <li v-for="user in users" v-if="user.isActive" :key="user.id">
        {{ user.name }}
      </li>
    </ul>
    <!-- 
      this.users.map(function (user) {
        if (user.isActive) {
          return user.name
        }
      }) 
    -->
    <!-- 
      我们只渲染出一小部分用户的元素，也得在每次重渲染的时候遍历整个列表，不论活跃用户是否发生了变化。
      通过将其更换为在如下的一个计算属性上遍历：
    -->
    <!-- 
      <ul>
        <li v-for="user in activeUsers" :key="user.id">
          {{ user.name }}
        </li>
      </ul>
     -->
  </div>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        users: [
          { name : "xx", id : 1, isActive:true },
          { name : "yy", id : 2, isActive:false },
          { name : "zz", id : 3, isActive:true },
          { name : "aa", id : 4, isActive:false },
          { name : "bb", id : 5, isActive:true },
          { name : "cc", id : 6, isActive:false },
          { name : "dd", id : 7, isActive:true },
          { name : "ee", id : 8, isActive:true },
          { name : "ff", id : 9, isActive:false },
          { name : "gg", id : 10, isActive:true },
        ],
        shouldShowUsers: false
      },
      methods: {},
      computed: {
        activeUsers: function () {
          return this.users.filter(function (user) {
            return user.isActive
          })
        }
      }
      // 过滤后的列表只会在 users 数组发生相关变化时才被重新运算，过滤更高效。
      // 使用 v-for="user in activeUsers" 之后，我们在渲染的时候只遍历活跃用户，渲染更高效。
      // 解藕渲染层的逻辑，可维护性 (对逻辑的更改和扩展) 更强。    
      
      // 为了避免渲染本应该被隐藏的列表 (比如 v-for="user in users" v-if="shouldShowUsers")。
      // 这种情形下，请将 v-if 移动至容器元素上 (比如 ul, ol)。
    })  
  </script>
</body>

</html>